
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background : linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
}

.container {
    position: relative;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0.06);
    display: flex;
}

.container .leftSide {
    position: relative;
    flex: 30%;
    background: #fff;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.container .rightSide {
    position: relative;
    flex: 70%;
    background: #e5ddd5;
}

.container .rightSide .personal_chat {
    position: relative;
    width: 100%;
    height: 100%;
    background: #e5ddd5;
}

.container .rightSide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./image/bg01.jpg);
    opacity: 0.06;
}

.container .leftSide .leftHeader,
.container .rightSide .personal_chat .rightHeader {
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.container .leftSide .leftHeader .userImg {
    position: relative;
    width: 80px;
    height: 40px;
    overflow: hidden;
    /* border-radius: 40%; */
    cursor: pointer;
}

.container .rightSide .rightHeader .userImg {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 40%;
    cursor: pointer;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.container .leftSide .nav_icons,
.container .rightSide .nav_icons {
    display: flex;
}

.container .leftSide .nav_icons li,
.container .rightSide .nav_icons li {
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5em;
    margin-left: 20px;
}

.container .leftSide .search_chat {
    position: relative; 
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

}

.container .leftSide .search_chat div {
    width: 100%;
}

.container .leftSide .search_chat div input {
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 40px;
}

.container .leftSide .search_chat div input::placeholder {
    color: #bbb;
}

.container .leftSide .search_chat div ion-icon {
    position: absolute;
    left : 30px;
    top : 14px;
    font-size: 1.2em;
}

.container .leftSide .chatList {
    position: relative;
    height: calc(100% - 110px);
    overflow-y: auto;
}

.container .leftSide .chatList .block {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    cursor: pointer;
}

.container .leftSide .chatList .block.active {
    background-color: #ebebeb;
}

.container .leftSide .chatList .block:hover {
    background-color: #f5f5f5;
}

.container .leftSide .chatList .block .imgBox {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 40%;
    margin-right: 10px;
}

.container .leftSide .chatList .block .details {
    position: relative;
    width: 100%;
}

.container .leftSide .chatList .block .details .listHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.container .leftSide .chatList .block .details .listHead h4 {
    font-size:  1.1em;
    font-weight: 600;
    color: #111;
}

.container .leftSide .chatList .block .details .listHead .time {
    font-size: 0.75em;
    color : #aaa;
}

.container .leftSide .chatList .block .details .listHead .time {
    color: #111;
}

.container .leftSide .chatList .block.unread .details .listHead .time {
    color: #06d755;
}

.container .leftSide .chatList .block .details .message_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .leftSide .chatList .block .details .message_p p {
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .leftSide .chatList .block .details .message_p b {
    background-color: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

.imgText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4 {
    font-weight: 400;
    line-height: 1.2em;
    margin-left: 15px;
}

.imgText h4 span {
    font-size: 0.8em;
    color: #555;
}

/* chat box */
.chatBox {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.message p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background-color: #dcf8c6;
    border-radius: 10px;
    font-size: 0.9em;
}

.message p::before {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #dcf8c6 0%, #dcf8c6 50%, transparent 50%, transparent);
}

.message p span {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}

.my_message {
    justify-content: flex-end;
}

.friend_message {
    justify-content: start;
}

.friend_message p {
    background-color: #fff;
    text-align: left;
}

.message.friend_message p::before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
}

.chatBox_input {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatBox_input ion-icon {
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}

.chatBox_input ion-icon:nth-child(1) {
    margin-right: 15px;
}

.chatBox_input input {
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}

    /* 기본적으로 요소 숨기기 */
    #personal_chat {
        display: none;
    }
    
    /* active 클래스가 추가되었을 때 요소 표시하기 */
    #personal_chat.active {
        display: block;
    }

